@media (max-width: 767px) {
  /* For a screen < 767px, this CSS will be read */
  #coming-soon-background {
    height: 100vh;
    background-image: url('jhon-sombriyon-mask.png');
    background-size: cover;
    background-position: center;
  }

  #coming-soon-text {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .coming-soon-image {
    display:none;
  }

  .shadow {
    display: none;
  }

  .shadow:before {
    display: none;
  }

  // Icons

  .banner-icons a {
    color: white;
    opacity: 1;
    text-decoration: none;
    font-size: 32px;
    padding: 0px 10px;
  }

  .footer-icons a:hover {
    opacity: 0.8;
  }
}

@media (min-width: 768px) {
  /* For a screen > 768px, this CSS will be read */
  // Image shadow

  .shadow {
    display: block;
    position: relative;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.83) 40%, #000000 60%, #000000 100%)
  }

  .shadow:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: 0 0 8px 8px black inset;
    -webkit-box-shadow: 0 0 8px 8px black inset;
    box-shadow: 0 0 8px 8px black inset;
  }

  // Icons

  .banner-icons a {
    color: white;
    opacity: 1;
    text-decoration: none;
    font-size: 48px;
    padding: 0px 10px;
  }

  .footer-icons a:hover {
    opacity: 0.8;
  }
}
