// Specific CSS for your home-page
html, body {
  height: 100%;
}

body {
  color: white;
  background-color: black;
}

// Font-size

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.fs-20 {
  font-size: 20px;
}

.fs-90 {
  font-size: 90px;
}

// Opacity

.opacity-70 {
  opacity: 70%;
}

// Height

.height-fill {
  height: -webkit-fill-available;
}

.height-80 {
  height: 80%;
}

// Alignment

.vertical-align-middle {
  vertical-align: middle;
}

// Lists

.list-style-none {
  list-style: none;
}

// Colors

.light-grey-font {
  color: rgba(255, 255, 255, 0.7);
}

.orange-font, .typed-cursor {
  color: #ff652e;
}

.orange-border {
  border: 2px solid #ff652e;
}

// Background

@media (max-width: 767px) {
  /* For a screen < 767px, this CSS will be read */
  #landing-background {
    height: 100vh;
    background-image: url('landing-background-mask.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.12) 20%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.5) 60%, #0000006b 80%, #000000 100%);
    background-size: cover;
    background-position: center;
  }

  #landing-main-text {
    font-size: 2rem;
    font-weight: 700;
  }

  #landing-secondary-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* For a screen > 768px, this CSS will be read */
  #landing-background {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('landing-background.png');
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.83) 40%, #000000 60%, #000000 100%);
  }
}
