// Specific CSS for your home-page
html, body {
  height: 100%;
}

body {
  color: white;
  background-color: black;
}

// Font-size

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.fs-20 {
  font-size: 20px;
}

.fs-25 {
  font-size: 25px;
}

// Opacity

.opacity-70 {
  opacity: 70%;
}

// Height

.height-fill {
  height: -webkit-fill-available;
}

.height-80 {
  height: 80%;
}

// Alignment

.vertical-align-middle {
  vertical-align: middle;
}
