<div class="container-fluid height-fill" id="coming-soon-background">
  <div class="d-flex height-fill flex-column flex-md-row">
    <div class="container mb-3 mt-auto m-md-auto d-flex">
      <div class="col-12 col-md-6 d-flex flex-column mx-auto justify-content-center">
        <h1 class="font-weight-bold my-auto text-shadow-40 pt-5" id="coming-soon-text">Cada vez falta menos, sigamos en contacto</h1>
        <div class="container banner-icons d-flex align-items-center my-1 my-md-5 text-center justify-content-center py-3">
          <a href="https://www.instagram.com/performers.show/" target="blank"><i class="fab fa-instagram text-center"></i></a>
          <a href="https://www.facebook.com/performers.show/" target="blank"><i class="fab fa-facebook text-center"></i></a>
          <a href="https://www.youtube.com/channel/UChsk3zsoyWMMtJCYW8o-E2g/featured" target="blank"><i class="fab fa-youtube text-center"></i></i></a>
          <a href="https://www.linkedin.com/company/performers-show/" target="blank"><i class="fab fa-linkedin text-center"></i></a>
          <a href="https://performers.medium.com/" target="blank"><i class="fab fa-medium"></i></a>
        </div>
        <div class="d-none d-md-flex py-auto justify-content-center align-items-center">
          <%= link_to "Volver", "/", class: "button btn-orange px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
        </div>
      </div>
      <div class="container col-md-6 d-none d-md-block m-auto p-0 shadow">
        <%= image_tag "jhon-sombriyon.png", class: "w-100 d-none d-md-block coming-soon-image"%>
      </div>
    </div>
    <div class="container d-flex d-md-none mx-auto my-5 justify-content-center">
      <%= link_to "Volver", "/", class: "button btn-orange px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
    </div>
  </div>
</div>
