<section class="pt-5 pb-5 mt-0 align-items-center d-flex" style="min-height: 100vh; background-size: cover; background-position: right; background-image: url('<%= image_path 'default-chair2.jpg' %>');">
  <div class="container-fluid d-flex flex-column px-2 py-2 px-lg-5 py-lg-5">
    <div class="row justify-content-left text-left mb-2 pb-2 mb-lg-5 pb-lg-5">
      <div class="col-12 col-md-8">
        <h1 class="text-white font-weight-bold display-4 mb-2 pb-2 mb-lg-5 pb-lg-5">Momentos especiales<br>merecen show especiales</h1>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-2 pt-2 mt-lg-5 pt-lg-5">
      <div class="col-12 col-md-8">
        <div class="btn-container-wrapper zindex-1">
          <a class="btn btn-outline-dark border-0 btn-lg pr-2 pl-2 pt-3 pb-0 mt-md-5 mb-0 scroll align-self-center text-muted" href="#section-1">
            <i class="fas fa-chevron-down fa-3x text-white arrow-first arrow"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="caption text-white text-right mt-2 pt-2 mt-lg-5 pt-lg-5"><strong>BY: ADMIN</strong> | 05.01.2020</div>
  </div>
</section>
<section id= "section-1" class="pt-5 pb-5 mt-0 align-items-center d-flex" style="min-height: 100vh; background-size: cover; background-position: center; background-image: url('<%= image_path 'default-tango.jpg' %>');">
  <div class="container-fluid d-flex flex-column px-2 py-2 px-lg-5 py-lg-5">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 col-xl-8"></div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="container d-flex flex-column">
          <div class="card-container">
            <div class="card-flip">
              <div class="card front p-2 my-2 w-100 bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <h1 class="card-text">Busco el mejor show para mi evento</h1>
                  <a href="#" class="btn btn-warning mt-5">Ver Performers</a>
                </div>
              </div>
              <div class="card back p-2 my-2 w-100 bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <h1 class="card-text">Busco el mejor show para mi evento</h1>
                  <a href="#" class="btn btn-warning mt-5">Ver Performers</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-container">
            <div class="card-flip">
              <div class="card front p-2 my-2 w-100 bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <h1 class="card-text">Quiero ganar dinero mostrando mi talento</h1>
                  <a href="#" class="btn btn-warning mt-5">Subir shows</a>
                </div>
              </div>
              <div class="card back p-2 my-2 w-100 bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <h1 class="card-text">Quiero ganar dinero mostrando mi talento</h1>
                  <a href="#" class="btn btn-warning mt-5">Subir shows</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-2 pt-2 mt-lg-5 pt-lg-5">
      <div class="col-12 col-md-8">
        <div class="btn-container-wrapper zindex-1">
          <a class="btn btn-outline-dark border-0 btn-lg pr-2 pl-2 pt-3 pb-0 mt-md-5 mb-0 scroll align-self-center text-muted" href="#section-1">
            <i class="fas fa-chevron-down fa-3x text-white arrow-first arrow"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="caption text-white text-right mt-2 pt-2 mt-lg-5 pt-lg-5"><strong>BY: ADMIN</strong> | 05.01.2020</div>
  </div>
</section>
