<div class="container-fluid p-0 mb-5" id="landing-background">
  <div class="row height-fill">
    <div class="container m-auto p-0">
      <div class="col-10 col-md-8 m-auto pb-3 px-0">
        <h1 class="font-weight-bold m-auto p-0 text-shadow-40">Encontrá artistas de <br/> manera rápida y segura.</h1>
      </div>
      <div class="row col-10 col-md-8 rounded-lg rounded-pill box-shadow-20 align-items-center justify-content-around m-auto p-0">
        <div class="flex-grow-1">
          <input id="generalSearchBar" type="text" name="generalSearchBar" placeholder="¿Qué estás buscando?" class="ml-3 bg-transparent border-0 font-weight-light text-left w-100 my-2 fs-25">
        </div>
        <div class="">
          <%= link_to "/" do %>
            <%= image_tag "search-icon.png", class: "mr-2 search-icon height-80" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-none d-md-block">
  <div class="d-flex justify-content-around py-5">
    <div class="d-flex pr-5">
      <h1 class="light-grey-font fs-90 m-0">1</h1>
      <div class="d-flex my-3">
        <div class="mx-2 orange-border"></div>
        <div>
          <p class="m-0 orange-font">Personalizá tu búsqueda</p>
          <p class="m-0">Describí el tipo de show que buscás y contanos sobre el evento que estás organizando.</p>
        </div>
      </div>
    </div>
    <div class="d-flex px-3">
      <h1 class="light-grey-font fs-90 m-0">2</h1>
      <div class="d-flex my-3">
        <div class="mx-2 orange-border"></div>
        <div>
          <p class="m-0 orange-font">Elegí una fecha</p>
          <p class="m-0">Podés indicar la fecha del evento para verificar disponibilidad.</p>
        </div>
      </div>
    </div>
    <div class="d-flex pl-5">
      <h1 class="light-grey-font fs-90 m-0">3</h1>
      <div class="d-flex my-3">
        <div class="mx-2 orange-border"></div>
        <div>
          <p class="m-0 orange-font">Personaliza tu búsqueda</p>
          <p class="m-0">Conocé el perfil de cada uno y encontrá el mejor para tu evento.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex py-5 justify-content-center align-items-center">
    <%= link_to "Shows", "/", class: "button btn-orange px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
    <%= link_to "Soy Artista", "/", class: "button btn-transparent-grey px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
  </div>
</div>
