<div class="container" style="min-height: 100vh;">
  <div class="row align-items-center h-100">
    <div class="container col-8 my-5 py-5 h-100">
      <h1 class="mt-4 mb-4 font-weight-bold">Momentos especiales merecen shows especiales.</h1>
      <div class="row">
        <div class="col-12 col-md-8">
          <p class="mt-4 mb-5">A través de nuestra plataforma cultural online ponemos experiencias únicas al alcance de todos conectando artistas con eventos. </p>
        </div>
      </div>
      <form action="#" class="w-100 form-inline d-flex my-4 m-0"  method="#" >
        <div class="form-group row w-100 m-0 p-0">
          <input name="inputEmail" id="inputEmail" placeholder="Correo electrónico" class="flex-grow-1 ml-0 mr-2 px-3 py-2 bg-dark border-0 rounded-lg">
          <button type="submit" class="button btn-orange ml-2 mr-0 px-3 py-2 border-0 rounded-lg font-weight-bold">Manteneme informado!</button>
        </div>
      </form>
    </div>
    <div class="container col-4 h-100">
      <%= image_tag "gif_competencia.gif", class: "w-100"%>
    </div>
  </div>
</div>
