<div class="container-fluid p-0 mb-5" style="height: 100vh; object-fit: cover; background-position: center; background-image: url('<%= image_path 'landing-background.png' %>'); -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 35.98%, rgba(0, 0, 0, 0.83) 58.58%, #000000 83.26%, #000000 100%);">
  <div class="row h-100">
    <div class="container col-10 col-md-8 m-auto p-0">
      <div class="col-10 col-md-8 m-auto p-0">
        <h1 class="font-weight-bold m-auto p-0 text-shadow-40">Encontrá artistas de <br/> manera rápida y segura.</h1>
      </div>
      <div class="row m-auto p-0">
        <div class="col-10 col-md-8 m-auto p-0">
          <input id="generalSearchBar" type="text" name="generalSearchBar" placeholder="¿Qué estás buscando?" class="button btn-transparent-grey px-4 py-2 border-0 rounded-lg rounded-pill font-weight-light text-lg-left w-100 my-4 fs-25 input-filter box-shadow-20 text-shadow-40">
        </div>
      </div>
    </div>
  </div>
</div>
