<div class="container-fluid p-0 mb-5" style="height: 100vh; object-fit: cover; background-position: center; background-image: url('<%= image_path 'landing-background.png' %>'); -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 35.98%, rgba(0, 0, 0, 0.83) 58.58%, #000000 83.26%, #000000 100%);">
  <div class="row height-fill">
    <div class="container m-auto p-0">
      <div class="col-10 col-md-8 m-auto pb-3 px-0">
        <h1 class="font-weight-bold m-auto p-0 text-shadow-40">Encontrá artistas de <br/> manera rápida y segura.</h1>
      </div>
      <div class="row col-10 col-md-8 rounded-lg rounded-pill box-shadow-20 align-items-center justify-content-around m-auto p-0">
        <div class="flex-grow-1">
          <input id="generalSearchBar" type="text" name="generalSearchBar" placeholder="¿Qué estás buscando?" class="ml-3 bg-transparent border-0 font-weight-light text-left w-100 my-2 fs-25">
        </div>
        <div class="">
          <%= image_tag "search-icon.png", class: "mr-2 search-icon height-80" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="group-2420">
  <div class="overlap-group">
    <div class="group-2243"><div class="text-1">¿Qué estás buscando?</div></div>
    <div class="group-2250">
      <img
        class="icon"
        src="icon.png"
      />
    </div>
  </div>
  <h1 class="text-2">Encontrá artistas de<br />manera rápida y segura.</h1>
</div> -->

<!-- .group-2243 {
  -webkit-backdrop-filter: blur(6px) brightness(115%);
  align-items: flex-end;
  backdrop-filter: blur(6px) brightness(115%);
  background-color: #ffffff3d;
  border-radius: 38px;
  display: flex;
  height: 53px;
  left: 0;
  min-width: 831px;
  padding: 9px 36px;
  position: absolute;
  top: 132px;
}
.group-2250 {
  align-items: flex-end;
  background-color: var(--outrageous-orange);
  border-radius: 22.5px;
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 782px;
  min-width: 45px;
  padding: 11.2px 11.9px;
  position: absolute;
  top: 136px;
}

 -->
