<div class="container-fluid p-0 mb-5" style="height: 100vh; background-position: center; background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(255,255,255,0)), url('<%= image_path 'landing-background.png' %>');">
  <div class="row h-100">
    <div class="container col-md-6 m-auto p-0">
      <h1 class="font-weight-bold m-0">Encontrá artistas de <br/> manera rápida y segura.</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <input id="generalSearchBar" type="text" name="generalSearchBar" placeholder="¿Qué estás buscando?" class="px-2 py-1 bg-dark border-0 rounded-lg w-100 text-center text-lg-left rounded-pill">
        </div>
      </div>
    </div>
  </div>
</div>
