<div style="background-position: left top; background-image: url('<%= image_path 'background-image.png' %>');">
  <div class="container" style="min-height: 100vh;">
    <div class="row align-items-center h-100">
      <div class="container col-8 my-5 py-5 h-100">
        <h1 class="mt-4 mb-4 font-weight-bold">¿Qué es Performers?</h1>
        <div class="row">
          <div class="col-12 col-md-8">
            <p class="mt-4 mb-5 font-weight-lighter">Performers es una plataforma cultural online que nuclea la oferta de shows y de trabajo para artistas en una webapp 100% segura.</p>
            <p class="mt-4 mb-5 font-weight-lighter">Ponemos al alcance de todos experiencias únicas, facilitando la contratación de artistas a través de una plataforma rápida, segura y directa.</p>
            <p class="mt-4 mb-5 font-weight-lighter">Ofrecemos a los artistas la oportunidad de profesionalizarse, crecer y conseguir trabajos de manera fácil, ágil y segura vinculándolos con la organización de eventos.</p>
          </div>
        </div>
      </div>
      <div class="container col-4 h-100">
      </div>
    </div>
  </div>
  <div class="container" style="min-height: 100vh;">
    <div class="row align-items-center h-100">
      <div class="container col-12 my-5 py-5 h-100">
        <h1 class="pb-5 font-weight-bold">Nosotros</h1>
        <div class="container d-flex justify-content-between pt-5">
          <div class="container d-flex align-items-center justify-content-center flex-column text-center">
            <div class="avatar-large">
              <%= image_tag "avatar-agustin.png", class: "rounded-circle avatar-bordered" %>
            </div>
            <div class="container m-3">
              <h2>Agustín</h2>
            </div>
          </div>
          <div class="container d-flex align-items-center justify-content-center flex-column text-center">
            <div class="avatar-large">
              <%= image_tag "avatar-ivan.png", class: "rounded-circle avatar-bordered" %>
            </div>
            <div class="container m-3">
              <h2>Iván</h2>
            </div>
          </div>
          <div class="container d-flex align-items-center justify-content-center flex-column text-center">
            <div class="avatar-large">
              <%= image_tag "avatar-nadia.png", class: "rounded-circle avatar-bordered" %>
            </div>
            <div class="container m-3">
              <h2>Nadia</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
