.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  max-width: 80%;
  height: auto;
}

.avatar-large:focus {
  outline: none;
}

.avatar-large img {
  filter: saturate(0.7);
  display: block;
  max-width: 80%;
  height: auto;
  margin: auto;
  border: #E67E22 8px solid;
}

.avatar-bordered {
  box-shadow: 0px 0px 20px 5px #10100F;
}
