.banner {
  background-size: cover;
  width: 100%;
  box-shadow: outset 0px 0px 40px 40px #0a0a0a7a;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.banner h1 {
  color: whitesmoke;
  text-shadow: 20px 20px 50px rgba(92, 132, 146, 1);
  justify-content: flex-end;
  align-items: center;
  font-size: 7vh;
  font-weight: bold;
  display: flex;
  font-family: 'Baloo Chettan 2', cursive;
}

.banner h1:hover {
  text-shadow: 10px 10px 20px rgba(92, 132, 146, 1);
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-content {
  margin: 20rem auto;
}
