.btn-orange {
  background-color: #ff652e;
  color: white;
  border-radius: 8px;
}

.btn-orange:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.btn-transparent-grey {
  background-color: rgba(255,255,255,0.2);
  color: white;
  border-radius: 8px;
}

.btn-transparent-grey:focus {
  outline: none;
}

.btn-transparent-grey:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}
