.btn-transparent {
  background-color: transparent;
  border: none;
  color: white;
}

.btn-transparent:focus {
  outline: none;
}

.btn-transparent:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.btn-orange {
  color: white;
  background-color: #ff652e;
  font-weight: bold;
  border-radius: 8px;
}

.btn-orange:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

input:focus {
  border: 0;
  outline-color: #ff652e;
}

input::placeholder {
  color: white;
}
