.btn-transparent {
  background-color: transparent;
  border: none;
}

.btn-transparent:focus {
  outline: none;
}

.btn-orange {
  color: white;
  background-color: #FD7545;
  font-weight: bold;
}

.btn-orange:hover {
  opacity: 0.8;
}

input:focus {
  border: 0;
  outline-color: #FD7545;
}

input::placeholder {
  color: white;
}
