.btn-orange {
  background-color: #ff652e;
  color: white;
  border-radius: 8px;
}

.btn-orange:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.btn-transparent-grey {
  color: white;
  backdrop-filter: blur(10px) brightness(110%);
  background-color: rgba(255,255,255,0.2);
}

.btn-transparent-grey:focus {
  outline: none;
}

.btn-transparent-grey:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}


@media (max-width: 768px) {
  .btn-personaliza {
    display:none;
  }

}

@media (min-width: 768px) {
  .btn-personaliza-bottom {
    display:none!important;
  }

}