.card-container {
  perspective: 700px;
  display: grid;
}

.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
