.card-category {
  background-size: cover;
  background-position: center;
  width: 18rem;
  margin-right: 2rem;
  height: 16rem;
  display: flex;
}

.card-info {
  flex-direction:column;
  align-self: flex-end;
}
.card-title {
  font-weight: bold;
  font-size: 2rem;
}

.pill-button {
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(233, 232, 232, 0.5);
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  color: white;
}

.stars-rating {
  justify-content: flex-end;
}
.card-pills-and-rating {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.fa-star {
  color: #ff652e;
}

.fa-star-half-alt {
  color: #ff652e;
}
