#footer-logo {
  height: 56px;
}

.nav-items {
  font-size: 16px;
}

.nav-link {
  color: white;
  opacity: 0.8;
}

.nav-link:hover {
  color: white;
  opacity: 1;
}

.footer-copyright {
  font-size: 8px;
}

.footer-icons a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-icons p {
  opacity: 1;
  text-decoration: none;
  font-size: 10px;
  padding: 0px 4px;
  margin: 0px 4px;
}

.footer-icons a:hover {
  opacity: 0.8;
}
