@media (max-width: 767px) {
  /* For a screen < 767px, this CSS will be read */
  #generalSearchBar {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  /* For a screen > 768px, this CSS will be read */
  #generalSearchBar {
    font-size: 2rem;
  }
}

input {
  color: white;
}

input:focus {
  border: 0;
  outline: none;
  color: white;
}

input::placeholder {
  color: white;
}

#generalSearchBar:focus {
  border: 0;
  outline: none;
  color: white;
}

#generalSearchBar::placeholder {
  border: 0;
}
