input:focus {
  border: 0;
  outline-color: #ff652e;
}

input::placeholder {
  color: white;
}

#generalSearchBar {
  text-shadow: 1px 1px 10px #000,
              50px 50px 50px #000,
              100px 100px 100px #000;
}

#generalSearchBar:focus-visible {
  border: 0;
  outline: none;
}

#generalSearchBar::placeholder {
  border: 0;
}
