input {
  color: white;
}

input:focus {
  border: 0;
  outline: none;
  color: white;
}

input::placeholder {
  color: white;
}

#generalSearchBar:focus {
  border: 0;
  outline: none;
  color: white;
}

#generalSearchBar::placeholder {
  border: 0;
}
