// Filters & Shadows

.text-shadow-40 {
  text-shadow: 0px 0px 40px #000000;
}

.box-shadow-20 {
  box-shadow: 2px 2px 30px black;
  backdrop-filter: blur(10px) brightness(110%);
  background-color: #9e9e9ea1;
}
