<div class="container" style="height:100px">
</div>

<div class="container p-0">
    <div class="card-slider card-slider-container mx-0 w-100">
        <div class="principal-slider-container">
            <h3>Shows para vos</h3>
            <%= link_to "Personalizá tu búsqueda", "/", class: "button btn-orange px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
        </div>
        <div class="principal-slider-container mt-4">
            <h4>Recomendados</h4>
            <div class="pl-5 pr-5">
            <i class="fas fa-angle-left fa-2x left-arrow"></i></button>
            <i class="fas fa-angle-right fa-2x right-arrow"></i>
            </div>
        </div>
        <div class="carousel-container">
            <div class="carousel">
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Pizzicatti</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Gato Maula Project</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-1">
        <div class="principal-slider-container mt-4">
            <h4>Acústico</h4>
            <div class="pl-5 pr-5">
            <i class="fas fa-angle-left fa-2x left-arrow2"></i></button>
            <i class="fas fa-angle-right fa-2x right-arrow2"></i>
            </div>
        </div>
        <div class="carousel-container acustic">
            <div class="carousel">
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Pizzicatti</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Gato Maula Project</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-category" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0)), url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>