<div class="container" style="height:100px">
</div>

<div class="container">
        <div class="header">
            <h3>Shows para vos</h3>
            <%= link_to "Personalizá tu búsqueda", "/", class: "btn-personaliza button btn-orange px-4 py-1 border-0 rounded-lg rounded-pill ml-2 fs-20 font-weight-light" %>
        </div>
        <div class="header mt-4 mb-2">
            <h4>Recomendados</h4>
            <div class="arrow-container pl-5 pr-5">
                <i class="fas fa-angle-left fa-2x left-arrow"></i>
                <i class="fas fa-angle-right fa-2x right-arrow"></i>
            </div>
        </div>
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Gato Maula Project</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Pizzicatti</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Gato Maula Project</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Pizzicatti</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Gato Maula Project</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="card-info w-100" style="background-image: linear-gradient(to top, black, rgba(255,0,0,0))">
                        <h2 class="card-title ml-3">Xpiral</h2>
                        <div class="card-pills-and-rating w-100">
                            <div class="pills d-flex align-self-start ml-3">
                                <p class="pill-button">Tango Fusión</p>
                                <p class="pill-button">Tango Fusión</p>
                            </div>
                            <div class="stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-1 my-4">
    <div class="header mt-4 mb-2">
        <h4>Acústico</h4>
        <div class="arrow-container pl-5 pr-5">
            <i class="fas fa-angle-left fa-2x left-arrow"></i>
            <i class="fas fa-angle-right fa-2x right-arrow"></i>
        </div>
    </div>
    <div class="swiper-container mySwiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-1 my-4">
    <div class="header mt-4 mb-2">
        <h4>Bandas</h4>
        <div class="arrow-container pl-5 pr-5">
            <i class="fas fa-angle-left fa-2x left-arrow"></i>
            <i class="fas fa-angle-right fa-2x right-arrow"></i>
        </div>
    </div>
    <div class="swiper-container mySwiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/pwZIhkD.png')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Xpiral</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/see9YJN.jpeg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Gato Maula Project</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="default-card-category" style="background-image: url('https://i.imgur.com/nlU90Wq.jpg')">
                    <div class="default-card-info w-100">
                        <h2 class="default-card-title ml-3">Pizzicatti</h2>
                        <div class="default-card-pills-and-rating w-100">
                            <div class="default-pills d-flex align-self-start ml-3">
                                <p class="default-pill-button">Tango Fusión</p>
                            </div>
                            <div class="default-stars-rating mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-footer fixed-bottom d-flex justify-content-center">
        <%= link_to "Personalizá tu búsqueda", "/", class: "btn-personaliza-bottom button btn-orange m-3 px-2 py-1 border-0 rounded-lg rounded-pill ml-2 font-weight-light d-flex justify-content-center w-50" %>
    </div>
</div>
<div class="container" style="height:100px">
</div>